<div class="bottom-field">

    <div class="replay-button">
        <button id="replay">
            replay
        </button>
    </div>

    <div class="turn-info">
            <span id="{{ turnInfo }}">
                {{ turnInfo }} is up
            </span>
    </div>
</div>

