{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="finish">  {{ winner }} won!!!</h1>

    <div class="replay-button">
        <button id="replay">
            replay
        </button>
    </div>

{% endblock %}
