{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="welcome-message ">Hier an der Stelle kommt spaeter das Spielfeld.<br>Zum Starten die Schaltflaeche "play"
        druecken</h1>
    <div class="play">
        <button id="play">
            play
        </button>
    </div>
{% endblock %}
